@import url('https://fonts.googleapis.com/css?family=Lato:300,300italic,400,700,700italic');

* {
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a,
button {
  font-family: Lato, 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
}

body {
  background: #ffffff;
}

a {
  color: #016aba;
  text-decoration: none;
}

button {
  font-size: 100%;
}

p {
  line-height: 1.5;
  margin-bottom: 15px;
}

.logo {
  color: black;
}

.app {
  .body {
    padding: 2rem;
  }
}

.content {
}

.menu {
  display: flex;
  align-items: center;
  background-color: aquamarine;
  border-bottom: 2px solid rgb(207, 207, 207);
  height: 4rem;
  padding: 0 2rem;
}

.add-button {
  background-color: aquamarine;
  border: 1px solid black;
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 5px 0;
}

// widths only in 'vw' units
$book-width-mobile: 75vw;

@function num-grid-items($book-width) {
  @return floor(calc(100vw / $book-width));
}
.book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: $book-width-mobile;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  &:hover {
    cursor: pointer;
  }
}

.book-image {
  margin-bottom: 10px;
}

.book-details {
  width: 100%;
  overflow-wrap: break-word;
  text-align: center;
}

.books {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(num-grid-items($book-width-mobile), auto);
  grid-template-rows: auto;
  gap: 15px 10px;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-top-row {
  display: flex;
  justify-content: space-between;
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 75%;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  padding: 0 3px;
  .form-label {
    display: flex;
    flex-direction: column;
    margin: 15px 1px 0 1px;
    font-size: 20px;

    .form-input {
      border: 1px solid black;
      font-size: 20px;
      padding: 4px 1px;
    }
  }
}

.submit-button-row {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.form-button {
  background-color: aquamarine;
  padding: 5px 0;
  font-size: 16px;
  width: 150px;
  border-radius: 5px;
}

.delete-button {
  background-color: red;
  margin-right: 5px;
}

.submit-status {
  width: 50%;
}
