<form>
  <label class='form-label'>
    Title:
    <br />
    <Input @type='text' @value={{this.title}} />
  </label><br />

  <label class='form-label'>
    Publisher:
    <br />
    <Input @type='text' @value={{this.publisher}} />
  </label><br />
  <label class='form-label'>
    Published year:
    <br />
    <Input @type='text' @value={{this.year}} />
  </label><br />
  <label class='form-label'>
    Name of Author:
    <br />
    <Input @type='text' @value={{this.authorName}} />
  </label><br />
</form>